body {
    background: linear-gradient(-20.8deg,#333, indigo, purple, orange, white) no-repeat;
}

header h1 {
    background: rgba(0, 0, 255, 0.2);
    box-shadow: 0px 0px 15px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
    letter-spacing: 0.4em;
}

#days {
    text-align: center;
}

th {
    font-family: fantasy;
    font-size: 40px;
    clear: both;
    display: inline-block;
    width: 5em;
    padding: 30px 10px;
    margin: 2px;
    text-align: center;
    border: solid 4px #777;
    border-radius: 10px;
    box-shadow: 0px 0px 100px;
}

#dateSelector1, #dateSelector2 {
    text-align: center;
    cursor: pointer;
    padding: 7px;
    margin: 40px;
    box-shadow: 0px 4px 7px;
}

#dateSelector1 {
    background: rgba(0, 0, 255, 0.5);
}

#dateSelector2 {
    background: rgba(255, 0, 0, 0.5);
}

#first, #second {
    margin-bottom: -30px;
    padding: 10px;
}

footer {
    font-family: cursive;
    text-align: center;
    clear: both;
}

#logo {
    border-radius: 2em;
    box-shadow: 0px 0px 6px;
}



